* {
    padding: 0;
    margin: 0;
}

.status-bar {
    display: grid;
    padding:  3vw 10vw;
    height: 5vw;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: space-between;
}

.time {
    grid-column: 1 / 2;
    font-size: 4.5vw;

}

ul.status-list {
   
    grid-column: 4 /5;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: end;
    align-self: center;

}

.phone-status {
    width:5vw;
    padding-right: 3vw;
}

#battery {
    padding-top: 0.2vh;
}
.battery {
    width:8vw;
    height:1.8vh;  
}
